.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 150px;
    height: 100px;
}

.nav-items{
    padding: 0px 20px;
}

.nav-items > ul{
    font-size: 23px;
    display: flex;
}

.nav-items > ul > li{
    list-style: none;
    padding: 10px;
}

.res-card{
    width: 200px;
    padding: 5px;
    margin : 5px;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.search{
    margin: 15px;
}

.res-logo{
    width: 100%;
    height: 200px;
}

.res-container{
    margin-left: 35px;
    display: flex;
    flex-wrap: wrap;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.shimmer-container{
    margin-left: 35px;
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin:10px;
    width: 200px;
    height: 300px;
    background-color: rgb(226, 223, 223);
}

.login{
    margin: 0 10px;
    cursor: pointer;
}

.filter{
    display: flex;
}

.res-menu-logo{
    height: 400px;
    width: 400px;
}

.no-underline{
    text-decoration: none;
    color: black;
}
